
@tailwind base;
@tailwind components;
@tailwind utilities;

@import "tailwindcss";
@plugin "daisyui";
 
html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  font-family: 'Inter', sans-serif;
  background: #dbd8d8;
  margin: 0;
}

:root {
  --foreground-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
  }
}

body {
  color: rgb(var(--foreground-rgb)) text-black;
  color: #000;
}

@layer base {
  h1 {
    @apply font-extrabold text-2xl mb-3;
  /* font-weight: 800; /* font-extrabold *font-size: 1.5rem; /* text-2xl *margin-bottom: 0.75rem; mb-3 */
}
}